name: Tests
on: [push]
jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install dependencies
        uses: php-actions/composer@v5
        with:
          php_version: 8.0
          version: 2
          php_extensions: gd sockets

      - name: Run tests
        run: vendor/bin/phpunit tests